﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<WebForms.ViewModels.FormEditViewModel>

<h2 class="my-4 head-text">@Localizer["Assigned forms"]</h2>

@if (Model != null && Model.Any())
{
    <div class="row">
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            var template = item.Template;
            <div class="template-card col-md-6 mb-4">
                <a href="@Url.Action("Details", "Form", new { id = item.FormId })" style="text-decoration: none; color: inherit;">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@template.Name</h5>
                                    <p class="card-text">@template.Description</p>

                                    <p class="text-muted">
                                        <strong>@Localizer["Topic"]:</strong> @Localizer[@item.TopicName]<br />
                                        <strong>@Localizer["Questions"]:</strong> @item.QuestionsCount<br />
                                        <strong>@Localizer["Author"]:</strong> @item.AuthorName<br />
                                        <strong>@Localizer["Created"]:</strong> @item.AssignedAt.ToString("yyyy-MM-dd")<br />
                                    </p>

                                    <div class="template-tags">
                                        @foreach (var tag in template.Tags)
                                        {
                                            <span class="tag">@tag.Name</span>
                                        }
                                    </div>
                                </div>

                            </div>

                            @if (!string.IsNullOrEmpty(template.ImageUrl))
                            {
                                <div class="col-md-4" style="padding-right: 10px;">
                                    <img src="@template.ImageUrl" loading="lazy" class="img-fluid" alt="@template.Name" style="max-height: 100%; object-fit: contain;" />
                                </div>
                            }
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}
else
{
    <p>@Localizer["No assigned forms"]</p>
}