@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<WebForms.ViewModels.FormTableViewModel>

<h2 class="mt-4 mb-4">@Localizer["My forms"]</h2>

<div class="table">
    <table class="table table-hover">
        <thead class="table">
            <tr>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Description"]</th>
                <th>@Localizer["Answers"]</th>
                <th>@Localizer["Date of assigning"]</th>
                <th>@Localizer["Actions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var form in Model)
            {
                <tr>
                    <td>@form.Name</td>
                    <td>@form.Description</td>
                    <td>@form.AnswerCount</td>
                    <td>@form.AssignedAt</td>
                    <td>
                        <a href="@Url.Action("Edit", "Form", new { id = form.Id })" class="btn btn-warning btn-sm">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="@Url.Action("Details", "Form", new { id = form.Id })" class="btn btn-info btn-sm">
                            <i class="fas fa-eye"></i>
                        </a>
                        <form asp-action="Delete" asp-route-id="@form.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>