@model IEnumerable<WebForms.Models.Template>

<h2 class="mt-4">Templates</h2>

<div class="table">
    <table class="table table-hover">
        <thead class="table">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Questions</th>
                <th>Date of creation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var template in Model)
            {
                <tr>
                    <td>@template.Name</td>
                    <td>@template.Description</td>
                    <td>@template.Questions.Count</td>
                    <td>@template.CreatedAt</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = template.Id })" class="btn btn-warning btn-sm">Edit</a>
                        <a href="@Url.Action("Details", "Template", new { id = template.Id })" class="btn btn-info btn-sm">Details</a>
                        <form asp-action="Delete" asp-route-id="@template.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a href="@Url.Action("Create")" class="btn btn-primary mt-3">Create new</a>
